In [1]:
import pygame

pygame 2.5.2 (SDL 2.28.2, Python 3.10.12)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [2]:
import pandas

ModuleNotFoundError: No module named 'pandas'

In [3]:
!pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/2f/0e/3b74e8f7c908082793adafb02753477f653ccd7e189f3ba070757d2d0e65/pandas-2.1.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading pandas-2.1.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Collecting numpy>=1.22.4 (from pandas)
  Obtaining dependency information for numpy>=1.22.4 from https://files.pythonhosted.org/packages/9b/5a/f265a1ba3641d16b5480a217a6aed08cceef09cd173b568cd5351053472a/numpy-1.26.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading numpy-1.26.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.5/58.5 kB 1.6 MB/s eta 0:00:00 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in ./midiQuizVenvEnv/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 3.7 MB/s eta 0:00:00m eta 0:00:010:01
Requirement already satisfied: six>=1.5 in ./midiQuizVenvEnv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 6.4 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading numpy-1.26.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.2/18.2 MB 6.6 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 kB 5.7 MB/s eta 0:00:00m eta 0:00:010:00:01
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.0 pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3

In [4]:
!pip install pandas

Requirement already satisfied: pandas in ./midiQuizVenvEnv/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: numpy>=1.22.4 in ./midiQuizVenvEnv/lib/python3.10/site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in ./midiQuizVenvEnv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./midiQuizVenvEnv/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in ./midiQuizVenvEnv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in ./midiQuizVenvEnv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
import pandas as pd

In [22]:
dfChord=pd.read_csv("chord-new.csv", delimiter=",")
dfScales=pd.read_csv("music-scales-new.csv", delimiter=",", header=None)
dfChordsToMidiPitches=pd.read_csv("guitar-chords-midi-pitches-new.csv", delimiter=";")
dfChordProgressionsRoman=pd.read_csv("chord-porgressions-roman-numeral-new.csv", delimiter=";")

In [24]:
#searchable dropdown checkbox lists for unique values of chord_root and chord_type. Offer to display chord_structure and or Notes
#option to turn on inversions for basic chords
#searchable dropdown box for scales
#note to midi and vice versa conversion
#searchable checkbox dropdown for chord progressions

In [18]:
dfChord.head()

,CHORD_ROOT,CHORD_TYPE,CHORD_STRUCTURE,NOTES,N/A,N/A.1,N/A.2,N/A.3,N/A.4,N/A.5
0,A#,9(#5),1;3;#5;b7;9,A#,C##,E##,G#,B#,NaN,NaN
1,A#,13,1;3;5;b7;9;11;13,A#,C##,E#,G#,B#,D#,F##
2,A#,6(#11),1;3;5;6;#11,A#,C##,E#,F##,D##,NaN,NaN
3,A#,7(#9),1;3;5;b7;#9,A#,C##,E#,G#,B##,NaN,NaN
4,A#,+(#11),1;3;#5;#11,A#,C##,E##,D##,NaN,NaN,NaN

In [23]:
dfScales.head()

                   0   1   2   3   4   5   6   7   8   9   10
0  ChromaticTriMirror   0   1   2 NaN NaN NaN NaN NaN NaN NaN
1              DoReMi   0   2   4 NaN NaN NaN NaN NaN NaN NaN
2           Flat6and7   0  10  11 NaN NaN NaN NaN NaN NaN NaN
3          MajorFlat6   0   4   8 NaN NaN NaN NaN NaN NaN NaN
4         MajorTriad1   0   3   8 NaN NaN NaN NaN NaN NaN NaN

In [20]:
dfChordsToMidiPitches.head()

  Chord  2nd  3rd   4th   5th   6th
0    Am   45   52  57.0  60.0  64.0
1  Amaj   45   52  57.0  61.0  64.0
2    A6   52   57  61.0  66.0   NaN
3    A7   45   52  55.0  61.0  64.0
4  A7b5   45   55  61.0  63.0   NaN

In [21]:
dfChordProgressionsRoman.head()

           Style,Progression,Transposable
0             Blues,I-V-IV-IV-I-V-I-V,yes
1       Pachelbel,I-V-vi-iii-IV-I-IV-V,no
2  Romanesca,III-VII-i-V-III-VII-i-V-i,no
3                      Popular,I-V-IV,yes
4                   Popular,I-V-VI-IV,yes