In [2]:
import pygame
import pygame.midi as md
import pandas as pd
import numpy as np
from string import digits
# !pip install pandas
import pandas

pygame 2.5.2 (SDL 2.28.2, Python 3.10.12)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [4]:
dfChords=pd.read_csv("chord-new.csv", delimiter=",")
dfChordsSimplified=dfChords.copy()
dfScales=pd.read_csv("music-scales-new.csv", delimiter=",", header=None)
dfChordsToMidiPitches=pd.read_csv("guitar-chords-midi-pitches-new.csv", delimiter=";")
dfChordProgressionsRoman=pd.read_csv("chord-porgressions-roman-numeral-new.csv", delimiter=";")

print(dfChords.shape)
print(dfChordsSimplified.shape)
print(dfScales.shape)
print(dfChordsToMidiPitches.shape)
print(dfChordProgressionsRoman.shape)

(924, 10)
(924, 10)
(330, 11)
(413, 6)
(51, 1)

In [9]:
list(dfChords.CHORD_ROOT.unique())

['A#',
 'B#',
 'C#',
 'D#',
 'E#',
 'F#',
 'G#',
 'Ab',
 'Bb',
 'Cb',
 'Db',
 'Eb',
 'Fb',
 'Gb',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G']

In [12]:
list(dfChords.CHORD_TYPE.unique())

['9(#5)',
 '13',
 '6(#11)',
 '7(#9)',
 '+(#11)',
 '9',
 '9b5',
 'maj13',
 '7',
 'dim7',
 'aug',
 'm(maj9)',
 'maj',
 '13(#11)',
 '11',
 'maj9',
 'sus2',
 '7(b13)',
 'maj7(#5)',
 'm11',
 'add9',
 'm7b5',
 'm13',
 'm',
 '7b5',
 '9(#11)',
 'm7',
 'm(maj7)',
 'dim',
 '6',
 '7(#5)',
 '7sus4',
 'maj7',
 '5',
 '7(#11)',
 '13(#9)',
 'm6',
 '13(#5)',
 'm6/9',
 '7(b9)',
 'm9',
 '13(b9)',
 'sus4',
 '6/9']

In [5]:
#searchable dropdown checkbox lists for unique values of chord_root and chord_type. Offer to display chord_structure and or Notes
#option to turn on inversions for basic chords
#searchable dropdown box for scales
#note to midi and vice versa conversion
#searchable checkbox dropdown for chord progressions
#interval training
#hearing training?

In [6]:
dfChords.head(40)

,CHORD_ROOT,CHORD_TYPE,CHORD_STRUCTURE,NOTES,N/A,N/A.1,N/A.2,N/A.3,N/A.4,N/A.5
0,A#,9(#5),1;3;#5;b7;9,A#,C##,E##,G#,B#,NaN,NaN
1,A#,13,1;3;5;b7;9;11;13,A#,C##,E#,G#,B#,D#,F##
2,A#,6(#11),1;3;5;6;#11,A#,C##,E#,F##,D##,NaN,NaN
3,A#,7(#9),1;3;5;b7;#9,A#,C##,E#,G#,B##,NaN,NaN
4,A#,+(#11),1;3;#5;#11,A#,C##,E##,D##,NaN,NaN,NaN
5,A#,9,1;3;5;b7;9,A#,C##,E#,G#,B#,NaN,NaN
6,A#,9b5,1;3;b5;b7;9,A#,C##,E,G#,B#,NaN,NaN
7,A#,maj13,1;3;5;7;9;11;13,A#,C##,E#,G##,B#,D#,F##
8,A#,7,1;3;5;b7,A#,C##,E#,G#,NaN,NaN,NaN
9,A#,dim7,1;b3;b5;bb7,A#,C#,E,G,NaN,NaN,NaN
10,A#,aug,1;3;#5,A#,C##,E##,NaN,NaN,NaN,NaN
11,A#,m(maj9),1;b3;5;7;9,A#,C#,E#,G##,B#,NaN,NaN
12,A#,maj,1;3;5,A#,C##,E#,NaN,NaN,NaN,NaN
13,A#,13(#11),1;3;5;b7;9;#11;13,A#,C##,E#,G#,B#,D##,F##
14,A#,11,1;3;5;b7;9;11,A#,C##,E#,G#,B#,D#,NaN
15,A#,maj9,1;3;5;7;9,A#,C##,E#,G##,B#,NaN,NaN
16,A#,sus2,1;2;5,A#,B#,E#,NaN,NaN,NaN,NaN
17,A#,7(b13),1;3;5;b7;b13,A#,C##,E#,G#,F#,NaN,NaN
18,A#,maj7(#5),1;3;#5;7,A#,C##,E##,G##,NaN,NaN,NaN
19,A#,m11,1;b3;5;b7;9;11,A#,C#,E#,G#,B#,D#,NaN
20,A#,add9,1;3;5;9,A#,C##,E#,B#,NaN,NaN,NaN
21,A#,m7b5,1;b3;b5;b7,A#,C#,E,G#,NaN,NaN,NaN
22,A#,m13,1;b3;5;b7;9;11;13,A#,C#,E#,G#,B#,D#,F##
23,A#,m,1;b3;5,A#,C#,E#,NaN,NaN,NaN,NaN
24,A#,7b5,1;3;b5;b7,A#,C##,E,G#,NaN,NaN,NaN
25,A#,9(#11),1;3;5;b7;9;#11,A#,C##,E#,G#,B#,D##,NaN
26,A#,m7,1;b3;5;b7,A#,C#,E#,G#,NaN,NaN,NaN
27,A#,m(maj7),1;b3;5;7,A#,C#,E#,G##,NaN,NaN,NaN
28,A#,dim,1;b3;b5,A#,C#,E,NaN,NaN,NaN,NaN
29,A#,6,1;3;5;6,A#,C##,E#,F##,NaN,NaN,NaN
30,A#,7(#5),1;3;#5;b7,A#,C##,E##,G#,NaN,NaN,NaN
31,A#,7sus4,1;4;5;b7,A#,D#,E#,G#,NaN,NaN,NaN
32,A#,maj7,1;3;5;7,A#,C##,E#,G##,NaN,NaN,NaN
33,A#,5,1;5,A#,E#,NaN,NaN,NaN,NaN,NaN
34,A#,7(#11),1;3;5;b7;#11,A#,C##,E#,G#,D##,NaN,NaN
35,A#,13(#9),1;3;5;b7;#9;11;13,A#,C##,E#,G#,B##,D#,F##
36,A#,m6,1;b3;5;6,A#,C#,E#,F##,NaN,NaN,NaN
37,A#,13(#5),1;3;#5;b7;9;11;13,A#,C##,E##,G#,B#,D#,F##
38,A#,m6/9,1;b3;5;6;9,A#,C#,E#,F##,B#,NaN,NaN
39,A#,7(b9),1;3;5;b7;b9,A#,C##,E#,G#,B,NaN,NaN

In [7]:
dfScales.head()

                   0   1   2   3   4   5   6   7   8   9   10
0  ChromaticTriMirror   0   1   2 NaN NaN NaN NaN NaN NaN NaN
1              DoReMi   0   2   4 NaN NaN NaN NaN NaN NaN NaN
2           Flat6and7   0  10  11 NaN NaN NaN NaN NaN NaN NaN
3          MajorFlat6   0   4   8 NaN NaN NaN NaN NaN NaN NaN
4         MajorTriad1   0   3   8 NaN NaN NaN NaN NaN NaN NaN

In [8]:
dfChordsToMidiPitches.head()

  Chord  2nd  3rd   4th   5th   6th
0    Am   45   52  57.0  60.0  64.0
1  Amaj   45   52  57.0  61.0  64.0
2    A6   52   57  61.0  66.0   NaN
3    A7   45   52  55.0  61.0  64.0
4  A7b5   45   55  61.0  63.0   NaN

In [9]:
dfChordProgressionsRoman.head()

           Style,Progression,Transposable
0             Blues,I-V-IV-IV-I-V-I-V,yes
1       Pachelbel,I-V-vi-iii-IV-I-IV-V,no
2  Romanesca,III-VII-i-V-III-VII-i-V-i,no
3                      Popular,I-V-IV,yes
4                   Popular,I-V-VI-IV,yes

In [13]:
chordNumeralsRoman=['I','II','iii','IV','V','Vi','VII']
midiToAnsiNoteOffset=21
ansiNotes=[]
for i in range(21,109):
#    print(md.midi_to_ansi_note(i))
    ansiNotes+=[md.midi_to_ansi_note(i)]
print(ansiNotes)
numNotes=len(ansiNotes)
ansiNotesWithoutOctaves=[]
remove_digits = str.maketrans('', '', digits)

for i in ansiNotes:
    ansiNotesWithoutOctaves.append(i.translate(remove_digits))
print(ansiNotesWithoutOctaves)
print(ansiNotesWithoutOctaves[:12])
singleOctaveNotes=ansiNotesWithoutOctaves[:12]

['A0', 'A#0', 'B0', 'C1', 'C#1', 'D1', 'D#1', 'E1', 'F1', 'F#1', 'G1', 'G#1', 'A1', 'A#1', 'B1', 'C2', 'C#2', 'D2', 'D#2', 'E2', 'F2', 'F#2', 'G2', 'G#2', 'A2', 'A#2', 'B2', 'C3', 'C#3', 'D3', 'D#3', 'E3', 'F3', 'F#3', 'G3', 'G#3', 'A3', 'A#3', 'B3', 'C4', 'C#4', 'D4', 'D#4', 'E4', 'F4', 'F#4', 'G4', 'G#4', 'A4', 'A#4', 'B4', 'C5', 'C#5', 'D5', 'D#5', 'E5', 'F5', 'F#5', 'G5', 'G#5', 'A5', 'A#5', 'B5', 'C6', 'C#6', 'D6', 'D#6', 'E6', 'F6', 'F#6', 'G6', 'G#6', 'A6', 'A#6', 'B6', 'C7', 'C#7', 'D7', 'D#7', 'E7', 'F7', 'F#7', 'G7', 'G#7', 'A7', 'A#7', 'B7', 'C8']
['A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B', 'C']
['A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#']

In [11]:
dfChordsSimplified.head()

,CHORD_ROOT,CHORD_TYPE,CHORD_STRUCTURE,NOTES,N/A,N/A.1,N/A.2,N/A.3,N/A.4,N/A.5
0,A#,9(#5),1;3;#5;b7;9,A#,C##,E##,G#,B#,NaN,NaN
1,A#,13,1;3;5;b7;9;11;13,A#,C##,E#,G#,B#,D#,F##
2,A#,6(#11),1;3;5;6;#11,A#,C##,E#,F##,D##,NaN,NaN
3,A#,7(#9),1;3;5;b7;#9,A#,C##,E#,G#,B##,NaN,NaN
4,A#,+(#11),1;3;#5;#11,A#,C##,E##,D##,NaN,NaN,NaN

In [12]:
dfChordsSimplified.NOTES.unique()

array(['A#', 'B#', 'C#', 'D#', 'E#', 'F#', 'G#', 'Ab', 'Bb', 'Cb', 'Db',
       'Eb', 'Fb', 'Gb', 'A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype=object)

In [13]:
dfChordsSimplified["N/A"].unique()

array(['C##', 'C#', 'B#', 'D#', 'E#', 'D##', 'F##', 'E', 'F#', 'G#', 'A#',
       'G##', 'A', 'B', 'C', 'Cb', 'Bb', 'Db', 'Eb', 'D', 'F', 'Ebb',
       'Fb', 'Gb', 'Ab', 'G', 'Abb', 'Bbb'], dtype=object)

In [14]:
dfNotesUnique=np.unique(dfChordsSimplified.iloc[:, 3:9].to_numpy(str))

In [25]:
print(dfChordsSimplified.iloc[:, 3:10].head())

  NOTES  N/A N/A.1 N/A.2 N/A.3 N/A.4 N/A.5
0    A#  C##   E##    G#    B#   NaN   NaN
1    A#  C##    E#    G#    B#    D#   F##
2    A#  C##    E#   F##   D##   NaN   NaN
3    A#  C##    E#    G#   B##   NaN   NaN
4    A#  C##   E##   D##   NaN   NaN   NaN

In [16]:
print(dfNotesUnique)

['A' 'A#' 'A##' 'Ab' 'Abb' 'B' 'B#' 'B##' 'Bb' 'Bbb' 'Bbbb' 'C' 'C#' 'C##'
 'C###' 'Cb' 'Cbb' 'D' 'D#' 'D##' 'Db' 'Dbb' 'E' 'E#' 'E##' 'Eb' 'Ebb'
 'Ebbb' 'F' 'F#' 'F##' 'F###' 'Fb' 'Fbb' 'G' 'G#' 'G##' 'Gb' 'Gbb' 'nan']

In [15]:
dictToNormalNotes={}
for i in dfNotesUnique:
    if "##" in i:
        note=singleOctaveNotes.index(i[:-2])
        
        if note+2>11:
            note=note+2-12
        else:
            note=note+2
        normalNote=singleOctaveNotes[note]
        print(i, normalNote)
        dictToNormalNotes[i]=normalNote
        
    elif "bb" in i:
        note=0
        if "b" in i[:-2]:
            note=singleOctaveNotes.index(i[:-3])-1
            
        else:
            note=singleOctaveNotes.index(i[:-2])
        if note-2<0:
            note=note-2+12
        else:
            note=note-2
        if "#" not in singleOctaveNotes[(note+1)%12]:
            normalNote=singleOctaveNotes[(note+1)%12]+"b"
        else:
            normalNote=singleOctaveNotes[(note+1)%12][:-1]
        print(i, normalNote)
        dictToNormalNotes[i]=normalNote
        
    #else:
    #    print(i, i)
#['A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#']
print(dictToNormalNotes)

A## B
Abb G
B## C#
Bbb A
Bbbb Ab
C## D
C### D#
Cbb Bb
D## E
Dbb C
E## F#
Ebb D
Ebbb Db
F## G
F### G#
Fbb Eb
G## A
Gbb F
{'A##': 'B', 'Abb': 'G', 'B##': 'C#', 'Bbb': 'A', 'Bbbb': 'Ab', 'C##': 'D', 'C###': 'D#', 'Cbb': 'Bb', 'D##': 'E', 'Dbb': 'C', 'E##': 'F#', 'Ebb': 'D', 'Ebbb': 'Db', 'F##': 'G', 'F###': 'G#', 'Fbb': 'Eb', 'G##': 'A', 'Gbb': 'F'}

In [51]:
dfChordsSimplified

Index(['CHORD_ROOT', 'CHORD_TYPE', 'CHORD_STRUCTURE', 'NOTES', 'N/A', 'N/A.1',
       'N/A.2', 'N/A.3', 'N/A.4', 'N/A.5'],
      dtype='object')

In [53]:
dfChordsSimplified.columns.get_loc("NOTES")

3

In [54]:
colNames=["NOTES","N/A","N/A.1","N/A.2","N/A.3","N/A.4","N/A.5"]
for i in colNames:
    print(dfChordsSimplified.columns.get_loc(i))

3
4
5
6
7
8
9

In [16]:
dfChordsSimplified2=dfChordsSimplified.replace({"Notes": dictToNormalNotes,"N/A": dictToNormalNotes,"N/A.1": dictToNormalNotes,"N/A.2": dictToNormalNotes,"N/A.3": dictToNormalNotes,"N/A.4": dictToNormalNotes,"N/A.5": dictToNormalNotes})

In [ ]:
dfw=dfChordsSimplified2
options = ['Science', 'Commerce'] 

# selecting rows based on condition 
selectedChords = dfw[dfw['Stream'].isin(selectedRootTypes) & 
          dfw['Stream'].isin(selectedChordTypes)]

randomizedSelectedChords=selectedChords.sample(n = selectedChords.shape[0], replace = False)


testedChord = dfw[(dfw['Stream']==testedChordRoot) & 
          (dfw['Stream']==testedChordType)]



print('\nResult dataframe :\n',
	rslt_df)

In [ ]:
chordNumeralsRoman=['I','II','iii','IV','V','Vi','VII']
midiToAnsiNoteOffset=21
ansiNotes=[]
for i in range(21,109):
#    print(md.midi_to_ansi_note(i))
    ansiNotes+=[md.midi_to_ansi_note(i)]
print(ansiNotes)
numNotes=len(ansiNotes)
ansiNotesWithoutOctaves=[]
remove_digits = str.maketrans('', '', digits)

for i in ansiNotes:
    ansiNotesWithoutOctaves.append(i.translate(remove_digits))
print(ansiNotesWithoutOctaves)
print(ansiNotesWithoutOctaves[:12])
singleOctaveNotes=ansiNotesWithoutOctaves[:12]



def checkMidi():
    ansiNote=ansiNotes[input-midiToAnsiNoteOffset]

In [26]:
dfChordsSimplified2.head()

,CHORD_ROOT,CHORD_TYPE,CHORD_STRUCTURE,NOTES,N/A,N/A.1,N/A.2,N/A.3,N/A.4,N/A.5
0,A#,9(#5),1;3;#5;b7;9,A#,D,F#,G#,B#,NaN,NaN
1,A#,13,1;3;5;b7;9;11;13,A#,D,E#,G#,B#,D#,G
2,A#,6(#11),1;3;5;6;#11,A#,D,E#,G,E,NaN,NaN
3,A#,7(#9),1;3;5;b7;#9,A#,D,E#,G#,C#,NaN,NaN
4,A#,+(#11),1;3;#5;#11,A#,D,F#,E,NaN,NaN,NaN

In [36]:
nan_count = dfChordsSimplified2.isna().sum().sum()
print(nan_count)
print(type(nan_count))

2100
<class 'numpy.int64'>

In [24]:
#dfChordsSimplified2[["column1","column2"]].to_numpy()
# Slice From 3rd to end
df2 = dfChordsSimplified2.iloc[:,[0,4,5,6,7,8,9]]
df2.head()
df2.to_numpy()
#data = df2.head()

array([['A#', 'D', 'F#', ..., 'B#', nan, nan],
       ['A#', 'D', 'E#', ..., 'B#', 'D#', 'G'],
       ['A#', 'D', 'E#', ..., 'E', nan, nan],
       ...,
       ['G', 'B', 'D', ..., 'Ab', 'C', 'E'],
       ['G', 'C', 'D', ..., nan, nan, nan],
       ['G', 'B', 'D', ..., 'A', nan, nan]], dtype=object)

In [23]:
from tkinter import *

In [24]:
#Create an instance of Tkinter frame or window
win= Tk()
#Set the geometry of tkinter frame
win.geometry("750x250")
def callback():
   Label(win, text="Hello World!", font=('Century 20 bold')).pack(pady=4)
#Create a Label and a Button widget
btn=Button(win, text="Press Enter", command= callback)
btn.pack(ipadx=10)
win.bind('<Return>',lambda event:callback())
win.mainloop()

In [28]:
top = Tk()

mb=  Menubutton ( top, text="CheckComboBox", relief=RAISED )
mb.grid()
mb.menu  =  Menu ( mb, tearoff = 0 )
mb["menu"]  =  mb.menu

Item0 = IntVar()
Item1 = IntVar()
Item2 = IntVar()

mb.menu.add_checkbutton ( label="Item0", variable=Item0)
mb.menu.add_checkbutton ( label="Item1", variable=Item1)
mb.menu.add_checkbutton ( label="Item2", variable=Item2)


'''This part is only for testing
def Item_test():
    if Item0.get() == True:
        print "Item0 True"
    elif Item0.get() == False:
        print "Item0 False"
    else:
        print Item0.get()
    if Item1.get() == True:
        print "Item1 True"
    elif Item1.get() == False:
        print "Item1 False"
    else:
        print Item1.get()
    if Item2.get() == True:
        print "Item2 True"
    elif Item2.get() == False:
        print "Item2 False"
    else:
        print Item2.get()

button1 = Button(top, text="Item True/False Test", command = Item_test)
button1.pack()
''' 

mb.pack()
top.mainloop()

In [26]:


master = Tk()

var = StringVar(master)
var.set("Check")
w = OptionMenu(master, variable = var, value="options:")
w.pack()
first = BooleanVar()
second = BooleanVar()
third = BooleanVar()
w['menu'].add_checkbutton(label="First", onvalue=True, 
                          offvalue=False, variable=first)
w['menu'].add_checkbutton(label="Second", onvalue=True, 
                          offvalue=False, variable=second)
w['menu'].add_checkbutton(label="Third", onvalue=1, 
                          offvalue=False, variable=third)


master.bind('<Button-3>', lambda x: print("First:", first.get(), " Second:", 
           second.get(), " - Third:", third.get()))
mainloop()

In [27]:
def cb_search(event):
      
    sstr = search_str.get()
    listbox.delete(0, END)
    # If filter removed show all data
    if sstr == "":
        fill_listbox(main_data) 
        return
  
    filtered_data = list()
    for item in main_data:
        if item.find(sstr) >= 0:
            filtered_data.append(item)
   
    fill_listbox(filtered_data)   
  
def fill_listbox(ld):
    for item in ld:
        listbox.insert(END, item)
  
  
main_data = ["one", "two", "three", "twenty two"]
  
# GUI
master = Tk()
listbox = Listbox(master)
listbox.pack()
fill_listbox(main_data)
  
search_str = StringVar()
search = Entry(master, textvariable=search_str, width=10)
search.pack()
search.bind('<Return>', cb_search)
  
mainloop()

KeyboardInterrupt

In [29]:
# Function for checking the 
# key pressed and updating 
# the listbox 
def checkkey(event): 
       
    value = event.widget.get() 
    print(value) 
      
    # get data from l 
    if value == '': 
        data = l 
    else: 
        data = [] 
        for item in l: 
            if value.lower() in item.lower(): 
                data.append(item)                 
   
    # update data in listbox 
    update(data) 
   
   
def update(data): 
      
    # clear previous data 
    lb.delete(0, 'end') 
   
    # put new data 
    for item in data: 
        lb.insert('end', item) 
  
  
# Driver code 
l = ('C','C++','Java', 
     'Python','Perl', 
     'PHP','ASP','JS' ) 
  
root = Tk() 
  
#creating text box  
e = Entry(root) 
e.pack() 
e.bind('<KeyRelease>', checkkey) 
  
#creating list box 
lb = Listbox(root) 
lb.pack() 
update(l) 
   
root.mainloop()

sad
sad
sad
sa
s

In [37]:
from pystray import MenuItem as item
import pystray
from PIL import Image as ImgPIL, ImageTk
from tkinter import *

In [50]:
# Create an instance of tkinter frame or window
win=Tk()
win.title("System Tray Application")

# Set the size of the window
win.geometry("700x350")

# Define a function for quit the window
def quit_window(icon, item):
   icon.stop()
   win.destroy()

# Define a function to show the window again
def show_window(icon, item):
   icon.stop()
   win.after(0,win.deiconify())


# Hide the window and show on the system taskbar
def hide_window():
    win.withdraw()
    with ImgPIL.open("Iconleak-Atrous-Piano-keyboard.256.png") as image:
        # If is png image
        if image.format == 'PNG':
            # and is not RGBA
            if image.mode != 'RGBA':
                image.convert("RGBZA").save(f"{image.filename}"[:-4]+"-2.png")
        image.close()
    with ImgPIL.open("Iconleak-Atrous-Piano-keyboard.256-2.png") as image:
        menu=(item('Quit', quit_window), item('Show', show_window))
        icon=pystray.Icon("name", image, "title", menu)
        image.close()
    icon.run()

win.protocol('WM_DELETE_WINDOW', hide_window)

win.mainloop()

Exception in Tkinter callback
Traceback (most recent call last):
  File "/usr/lib/python3.10/tkinter/__init__.py", line 1921, in __call__
    return self.func(*args)
  File "/tmp/ipykernel_4398/1799068650.py", line 32, in hide_window
    win.iconbitmap(default="Iconleak-Atrous-Piano-keyboard.256-2.png")
  File "/usr/lib/python3.10/tkinter/__init__.py", line 2107, in wm_iconbitmap
    return self.tk.call('wm', 'iconbitmap', self._w, '-default', default)
_tkinter.TclError: wrong # args: should be "wm iconbitmap window ?bitmap?"

KeyboardInterrupt:

In [ ]:
win.close()

(