In [63]:
import pygame
import pygame.midi as md
import pandas as pd
import numpy as np
from string import digits

In [3]:
# !pip install pandas
import pandas

In [47]:
dfChord=pd.read_csv("chord-new.csv", delimiter=",")
dfChordsSimplified=dfChord.copy()
dfScales=pd.read_csv("music-scales-new.csv", delimiter=",", header=None)
dfChordsToMidiPitches=pd.read_csv("guitar-chords-midi-pitches-new.csv", delimiter=";")
dfChordProgressionsRoman=pd.read_csv("chord-porgressions-roman-numeral-new.csv", delimiter=";")

In [8]:
#searchable dropdown checkbox lists for unique values of chord_root and chord_type. Offer to display chord_structure and or Notes
#option to turn on inversions for basic chords
#searchable dropdown box for scales
#note to midi and vice versa conversion
#searchable checkbox dropdown for chord progressions

In [9]:
dfChord.head()

,CHORD_ROOT,CHORD_TYPE,CHORD_STRUCTURE,NOTES,N/A,N/A.1,N/A.2,N/A.3,N/A.4,N/A.5
0,A#,9(#5),1;3;#5;b7;9,A#,C##,E##,G#,B#,NaN,NaN
1,A#,13,1;3;5;b7;9;11;13,A#,C##,E#,G#,B#,D#,F##
2,A#,6(#11),1;3;5;6;#11,A#,C##,E#,F##,D##,NaN,NaN
3,A#,7(#9),1;3;5;b7;#9,A#,C##,E#,G#,B##,NaN,NaN
4,A#,+(#11),1;3;#5;#11,A#,C##,E##,D##,NaN,NaN,NaN

In [10]:
dfScales.head()

                   0   1   2   3   4   5   6   7   8   9   10
0  ChromaticTriMirror   0   1   2 NaN NaN NaN NaN NaN NaN NaN
1              DoReMi   0   2   4 NaN NaN NaN NaN NaN NaN NaN
2           Flat6and7   0  10  11 NaN NaN NaN NaN NaN NaN NaN
3          MajorFlat6   0   4   8 NaN NaN NaN NaN NaN NaN NaN
4         MajorTriad1   0   3   8 NaN NaN NaN NaN NaN NaN NaN

In [11]:
dfChordsToMidiPitches.head()

  Chord  2nd  3rd   4th   5th   6th
0    Am   45   52  57.0  60.0  64.0
1  Amaj   45   52  57.0  61.0  64.0
2    A6   52   57  61.0  66.0   NaN
3    A7   45   52  55.0  61.0  64.0
4  A7b5   45   55  61.0  63.0   NaN

In [12]:
dfChordProgressionsRoman.head()

           Style,Progression,Transposable
0             Blues,I-V-IV-IV-I-V-I-V,yes
1       Pachelbel,I-V-vi-iii-IV-I-IV-V,no
2  Romanesca,III-VII-i-V-III-VII-i-V-i,no
3                      Popular,I-V-IV,yes
4                   Popular,I-V-VI-IV,yes

In [76]:
chordNumeralsRoman=['I','II','iii','IV','V','Vi','VII']
midiToAnsiNoteOffset=21
ansiNotes=[]
for i in range(21,109):
#    print(md.midi_to_ansi_note(i))
    ansiNotes+=[md.midi_to_ansi_note(i)]
print(ansiNotes)
numNotes=len(ansiNotes)
ansiNotesWithoutOctaves=[]
remove_digits = str.maketrans('', '', digits)

for i in ansiNotes:
    ansiNotesWithoutOctaves.append(i.translate(remove_digits))
print(ansiNotesWithoutOctaves)
print(ansiNotesWithoutOctaves[:12])
singleOctaveNotes=ansiNotesWithoutOctaves[:12]

['A0', 'A#0', 'B0', 'C1', 'C#1', 'D1', 'D#1', 'E1', 'F1', 'F#1', 'G1', 'G#1', 'A1', 'A#1', 'B1', 'C2', 'C#2', 'D2', 'D#2', 'E2', 'F2', 'F#2', 'G2', 'G#2', 'A2', 'A#2', 'B2', 'C3', 'C#3', 'D3', 'D#3', 'E3', 'F3', 'F#3', 'G3', 'G#3', 'A3', 'A#3', 'B3', 'C4', 'C#4', 'D4', 'D#4', 'E4', 'F4', 'F#4', 'G4', 'G#4', 'A4', 'A#4', 'B4', 'C5', 'C#5', 'D5', 'D#5', 'E5', 'F5', 'F#5', 'G5', 'G#5', 'A5', 'A#5', 'B5', 'C6', 'C#6', 'D6', 'D#6', 'E6', 'F6', 'F#6', 'G6', 'G#6', 'A6', 'A#6', 'B6', 'C7', 'C#7', 'D7', 'D#7', 'E7', 'F7', 'F#7', 'G7', 'G#7', 'A7', 'A#7', 'B7', 'C8']
['A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B', 'C']
['A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#']

In [29]:
dfChordsSimplified.head()

,CHORD_ROOT,CHORD_TYPE,CHORD_STRUCTURE,NOTES,N/A,N/A.1,N/A.2,N/A.3,N/A.4,N/A.5
0,A#,9(#5),1;3;#5;b7;9,A#,C##,E##,G#,B#,NaN,NaN
1,A#,13,1;3;5;b7;9;11;13,A#,C##,E#,G#,B#,D#,F##
2,A#,6(#11),1;3;5;6;#11,A#,C##,E#,F##,D##,NaN,NaN
3,A#,7(#9),1;3;5;b7;#9,A#,C##,E#,G#,B##,NaN,NaN
4,A#,+(#11),1;3;#5;#11,A#,C##,E##,D##,NaN,NaN,NaN

In [30]:
dfChordsSimplified.NOTES.unique()

array(['A#', 'B#', 'C#', 'D#', 'E#', 'F#', 'G#', 'Ab', 'Bb', 'Cb', 'Db',
       'Eb', 'Fb', 'Gb', 'A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype=object)

In [33]:
dfChordsSimplified["N/A"].unique()

array(['C##', 'C#', 'B#', 'D#', 'E#', 'D##', 'F##', 'E', 'F#', 'G#', 'A#',
       'G##', 'A', 'B', 'C', 'Cb', 'Bb', 'Db', 'Eb', 'D', 'F', 'Ebb',
       'Fb', 'Gb', 'Ab', 'G', 'Abb', 'Bbb'], dtype=object)

In [70]:
dfNotesUnique=np.unique(dfChordsSimplified.iloc[:, 3:9].to_numpy(str))
dfNotesUnique=dfNotesUnique[:-1]

In [71]:
print(dfChordsSimplified.iloc[:, 3:9].head())

  NOTES  N/A N/A.1 N/A.2 N/A.3 N/A.4
0    A#  C##   E##    G#    B#   NaN
1    A#  C##    E#    G#    B#    D#
2    A#  C##    E#   F##   D##   NaN
3    A#  C##    E#    G#   B##   NaN
4    A#  C##   E##   D##   NaN   NaN

In [72]:
print(dfNotesUnique)

['A' 'A#' 'A##' 'Ab' 'Abb' 'B' 'B#' 'B##' 'Bb' 'Bbb' 'Bbbb' 'C' 'C#' 'C##'
 'C###' 'Cb' 'Cbb' 'D' 'D#' 'D##' 'Db' 'Dbb' 'E' 'E#' 'E##' 'Eb' 'Ebb'
 'Ebbb' 'F' 'F#' 'F##' 'F###' 'Fb' 'Fbb' 'G' 'G#' 'G##' 'Gb' 'Gbb']

In [91]:
dictToNormalNotes={}
for i in dfNotesUnique:
    if "##" in i:
        note=singleOctaveNotes.index(i[:-2])
        
        if note+2>11:
            note=note+2-12
        else:
            note=note+2
        normalNote=singleOctaveNotes[note]
        print(i, normalNote)
        dictToNormalNotes[i]=normalNote
        
    elif "bb" in i:
        note=0
        if "b" in i[:-2]:
            note=singleOctaveNotes.index(i[:-3])-1
            
        else:
            note=singleOctaveNotes.index(i[:-2])
        if note-2<0:
            note=note-2+12
        else:
            note=note-2
        if "#" not in singleOctaveNotes[(note+1)%12]:
            normalNote=singleOctaveNotes[(note+1)%12]+"b"
        else:
            normalNote=singleOctaveNotes[(note+1)%12][:-1]
        print(i, normalNote)
        dictToNormalNotes[i]=normalNote
        
    #else:
    #    print(i, i)
#['A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#']
print(dictToNormalNotes)

A## B
Abb G
B## C#
Bbb A
Bbbb Ab
C## D
C### D#
Cbb Bb
D## E
Dbb C
E## F#
Ebb D
Ebbb Db
F## G
F### G#
Fbb Eb
G## A
Gbb F
{'A##': 'B', 'Abb': 'G', 'B##': 'C#', 'Bbb': 'A', 'Bbbb': 'Ab', 'C##': 'D', 'C###': 'D#', 'Cbb': 'Bb', 'D##': 'E', 'Dbb': 'C', 'E##': 'F#', 'Ebb': 'D', 'Ebbb': 'Db', 'F##': 'G', 'F###': 'G#', 'Fbb': 'Eb', 'G##': 'A', 'Gbb': 'F'}

In [51]:
dfChordsSimplified

Index(['CHORD_ROOT', 'CHORD_TYPE', 'CHORD_STRUCTURE', 'NOTES', 'N/A', 'N/A.1',
       'N/A.2', 'N/A.3', 'N/A.4', 'N/A.5'],
      dtype='object')

In [53]:
dfChordsSimplified.columns.get_loc("NOTES")

3

In [54]:
colNames=["NOTES","N/A","N/A.1","N/A.2","N/A.3","N/A.4","N/A.5"]
for i in colNames:
    print(dfChordsSimplified.columns.get_loc(i))

3
4
5
6
7
8
9